/* fonts for style */


/* font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif; */


/* main related styles */

* {
    padding: 0;
    margin: 0;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Banner\ Image.png');
    display: flex;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 16px;


}

.banner-tittle {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.banner-descrip {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
    margin-bottom: 25px;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.category {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
}

.category-container {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 120px;
}

/* main related styles */

.party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Vectorrr.png');
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    width: 1300px;
    border-radius: 16px;




}

.party-container {
    display: flex;
    gap: 45px;
    align-items: center;
}

.party-tittle {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    padding-left: 120px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    padding-left: 120px;
}

.party-btn {
    background: none;
    color: white;
    border: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 150px;
    padding-top: 45px;

}

.banner2024 {
    padding-top: 76px;
    padding-bottom: 65px;


}

.gap {
    margin-bottom: 100px;
}

.venue {
    background-color: rgb(233, 233, 220);
    margin: auto;
    width: 1300px;


}

.venue-container {
    text-align: center;
    padding: 100px 200px 100px;

}

.red {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.venue-details {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.join-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 10px 32px;
    border: none;
    margin-top: 45px;
}

.bestoffer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 100px 0;
    background-color: #FFF;


}

.offer-column {
    flex: 1;
    margin: 30px;
    padding: 10px;
}

#offer {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 100px;
}

#coming {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.excitment {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.happy-img {
    padding: 20px;
    width: 364.844px;
    height: 364.844px;
    border-radius: 463px;
    border: 15px solid #F00;


}

#newyear {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 110px;

}

#wishing {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    padding-top: 5px;
}

#newyear-img {
    padding-top: 40px;
    padding-right: 130px;
}

.holidaysale-container {
    text-align: center;
}

.holidaysale-container h4 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holidaysale-container h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holidaysale-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    width: 800px;
    margin-left: 254px;
}


.holidays {
    color: #F00;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.discount-container {
    display: flex;
    width: 1200px;
    height: 50vh;
    padding-top: 360px;
    margin-left: 20px;
}

.dis-img1 {
    position: relative;

}

.dis-img2 {
    position: relative;
    right: 1400px;
    bottom: 420px;
    fill: linear-gradient(90deg, #FFF 0.26%, #1D1D1B 100.35%);
    background-blend-mode: screen;
    mix-blend-mode: screen;

}

.dis-img4 {
    position: relative;
    right: 1533px;
    bottom: 433px;
}


.dis-img3 {
    position: relative;
    right: 1370px;
    bottom: 300px;
    z-index: 200;

}

.portfolio-details {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.portfolio-details h4 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-details h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.portfolio-details p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;

}
.portfolio-galary img{
    /* width: 400px;
    height: 430px; */
    /* padding: 10px; */
    box-shadow: 0 0 20px 2px rgba(37, 37, 37, 0.8);
    border-radius: 16px;
    transition: all 1.1s;
    
}
.portfolio-galary{
    display: flex;
    justify-content: center;
    gap: 20px;
       
}
.portfolio-galary2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    border-radius: 16px;
}
.portfolio-galary2 img{
    box-shadow: 0 0 20px 2px rgba(37, 37, 37, 0.8);
    border-radius: 16px;
    transition: all 1.1s;
    margin-bottom: 100px;
}

.port-img:hover{
    transform: scale(1.2);
}